/* ## GOTO Next ********************** */
.goto-next
{
	text-transform: uppercase;
	position: absolute;
	bottom: 10%;
	z-index: 999;
	display: block;
	margin: 0 auto;
	width: 100px;
	text-align: center;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #fff;
}
.goto-next a
{
	display: block;
	position: relative;
}
.goto-next a:focus,
.goto-next a:hover {
	color: #E74C3C;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.arrow {
	position: fixed;
	bottom: -10px;
	left: 50%;
	margin-left: -15px;
	width: 25px;
	height: 14px;
	/* background-image: url("../images/icon/bounsing-aerrow.png");*/
	background-size: contain;
	font-size: 36px;
	color: #fff;
}
.bounce {
	-moz-animation: bounce 5s infinite;
	-webkit-animation: bounce 5s infinite;
	animation: bounce 5s infinite;
}
/* Back to Top */
.back-to-top
{
	width: 80px;
	height: 56px;
	background-image: url("../images/shape/featured-polygon.png");
	display: block;
	margin: 0 auto;
	color: #ccc;
	text-align: center;
	line-height: 50px;
	font-size: 35px;
	bottom: 0;
}
.back-to-top:hover { color: #ccc; }

/* Superslides navigation */
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	color: white;
	display: block;
	font-size: 40px;
	height: 100px;
	margin: 0;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
	top: -40px;
	transition: background 0.15s ease 0s;
	width: 100px;
	-webkit-transition: background 0.15s ease;
	-moz-transition: background 0.15s ease;
	-o-transition: background 0.15s ease;
	text-shadow: none;
	line-height: 100px;
}
.slides-navigation a:hover {
	background: #fff;
	color: #aaa;
}
.slides-navigation a {
	position: absolute;
	display: block;
}
.slides-navigation a.prev {
	left: 0;
}
.slides-navigation a.next {
	right: 0;
}
.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: auto;
	text-align: center;
	width: 100%;
	top: 542px;
	display: none;
}
.slides-pagination a {
	background-color: transparent;
    background-image: url("../images/icon/slider-indicator.png");
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0;
    height: 14px;
    width: 12px;
	font-size: 0;
	display: inline-block;
	margin: 0 4px;
}
.slides-pagination a.current {
	background-image: url("../images/icon/slider-indicator-active.png");
	background-color: transparent;
	width: 11px;
	height: 14px;
}

