/* Github Profile data, credit to Piotr Lewandowski */
/* v1.2.0 */
.content-section {
  float: left;
}

label {
  font-size: 0.7em;
}
.active {
  font-weight: bold;
}
.readme {
  max-width: 280px;
  line-height: 1.5;
  color: #666;
  padding: 0 10px;
}
.readme a {
  color: #4183C4;
  text-decoration: none;
}
/**
 * Github widget styles 
 * ------------------------------------------------------------------
 */
.gh-profile-card {
  /* followers number */
  /* List of repositories */ }
  .gh-profile-card {
    font-size: 16px;
    overflow: hidden; }
  .gh-profile-card a {
    text-decoration: none;
    color: #444; }
    .gh-profile-card a:hover {
      color: #4183C4; }
  .gh-profile-card .name {
    display: block;
    font-size: 200%;
    font-weight: bold;
    color: #FFF;
    margin-top: 4%; }
  .gh-profile-card .error {
    font-size: 0.8em;
    color: #444;
    padding: 10px; }
  .gh-profile-card .error span {
    display: block;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    .gh-profile-card .error span.remain {
      text-align: center;
      font-weight: bold; }
  .gh-profile-card .profile {
    background: #a80000;
    overflow: hidden;
    padding: 15px 10px;
    padding-bottom: 0;
    min-height: 135px; }
  .gh-profile-card .stats {
    padding: 5px; }
  .gh-profile-card .languages {
    position: relative;
    clear: both;
    margin: 0 -10px;
    padding: 10px;
    font-size: 0.8em; }
  .gh-profile-card .languages::before {
    position: absolute;
    top: -0.7em;
    padding-right: 5px;
    content: 'Top languages';
    font-style: italic;
    color: #FFF;
    font-size: 150%; }
  .gh-profile-card .languages li {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    margin-left: 10px; }
    .gh-profile-card .languages li::after {
      content: '\2022';
      margin-left: 10px;
      color: #FFF; }
    .gh-profile-card .languages li:last-child::after {
      content: ''; }
  .gh-profile-card .followMe {
    margin-top: 3px;
    float: left;
  }
  .gh-profile-card .follow-button {
    font-size: 0.8em;
    color: #333;
    float: left;
    padding: 0 10px;
    line-height: 1.5em;
    border: 1px solid #D5D5D5;
    border-radius: 0px;
    font-weight: bold;
    background: #EAEAEA;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .gh-profile-card .follow-button:hover {
    color: inherit;
    background: #DDD;
    background-image: linear-gradient(#EEE, #DDD); }
  .gh-profile-card .followMe span {
    position: relative;
    background: #FFF;
    margin-left: 8px;
    padding: 0 5px;
    color: #444;
    font-size: 0.8em;
    border: 1px solid;
    border-color: #BBB; }
  .gh-profile-card .followMe span::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    left: -4px;
    top: 30%;
    background: inherit;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: inherit;
    transform: rotate(-45deg); }
  .gh-profile-card .avatar {
    width: 10%;
    height: 10%;
    float: left;
    margin: 2% 2% 2.5% 0;
    margin-left: 2%;
    border-radius: 50%;
     }
  .gh-profile-card .repos {
    clear: both; }
  .gh-profile-card .repos .header {
    display: block;
    width: 100%;
    font-weight: bold;
    background: #a80000;
    color: #FFF;
    padding: 5px 10px;
     }
  .gh-profile-card .repos a {
    position: relative;
    display: block;
    padding: 1.3% 7%;
  }
    .gh-profile-card .repos a:first-of-type {
      border: none; }
  .gh-profile-card .repos .repo-name {
    max-width: 280px;
    font-weight: bold;
    text-overflow: ellipsis; }
  .gh-profile-card .repos .updated {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    color: #777; }
  .gh-profile-card .repos .star {
    position: absolute;
    right: 10%;
    top: 30%;
    color: #a80000; }
    .gh-profile-card .repos .star::after {
      content: '\a0\2605';
      font-weight: bold; }


      .calendar {
        width: 75%;
        border: none;
        min-height: 243px;
        text-align: center;
        margin: 0 auto;
    }
    
    .calendar-graph text.wday,
    .calendar-graph text.month {
        font-size: 10px;
        fill: #aaa;
    }
    
    .contrib-legend {
        text-align: right;
        padding: 0 14px 10px 0;
        display: inline-block;
        float: right;
    }
    
    .contrib-legend .legend {
        display: inline-block;
        list-style: none;
        margin: 0 5px;
        position: relative;
        bottom: -1px;
        padding: 0;
    }
    
    .contrib-legend .legend li {
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    
    .text-small {
        font-size: 12px;
        color: #767676;
    }
    
    .calendar-graph {
        padding: 5px 0 0;
        height: 126px;
        text-align: center;
    }
    
    .contrib-column {
        padding: 15px 0;
        text-align: center;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        font-size: 11px;
    }
    
    .contrib-column-first {
        border-left: 0;
    }
    
    .table-column {
        display: table-cell;
        width: 1%;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: top;
    }
    
    .contrib-number {
        font-weight: 300;
        line-height: 1.3em;
        font-size: 24px;
        display: block;
        color: #333;
    }
    
    .calendar img.spinner {
        width: 70px;
        margin-top: 50px;
        min-height: 70px;
    }
    
    .monospace {
        text-align: center;
        color: #000;
        font-family: monospace;
    }
    
    .monospace a {
        color: #1D75AB;
        text-decoration: none;
    }
    
    .contrib-footer {
        font-size: 11px;
        padding: 0 10px 12px;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        height: 26px;
    }
    
    .left.text-muted {
        float: left;
        margin-left: 9px;
        color: #767676;
    }
    .left.text-muted a {
        color: #4078c0;
        text-decoration: none;
    }
    .left.text-muted a:hover,
    .monospace a:hover {
        text-decoration: underline;
    }
    
    h2.f4.text-normal.mb-3 {
        display: none;
    }
    
    .float-left.text-gray {
        float: left;
    }