/* Get rid of this broken shit on small screens, since it refuses to be properly responsive  */
@media screen and (max-width: 1000px) {
  .about-section {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #aboutmemenuitem {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .about-section {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #aboutmemenuitem {
    display: none;
  }
.showbox-box {
    margin-top: 5%;
    margin-left: 100px;
    padding-left: 35px;
}
.showbox-inner {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
    margin-left: 10%;
}
.showbox-box .block-title, .showbox-box p, .showbox h2 {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
}
.section-header h2, .features-section h2, .showbox h2 {
    font-size: 250%;
    text-transform: uppercase;
}
#about #profile {
    animation-delay: 500ms;
    animation-duration: 1000ms;
    position: absolute;
    width: 180px;
    height: 180px;
    top: -60px;
    left: 50%;
    margin-left: -90px;
    z-index: 1;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    padding: 8px;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
}
.gh-profile-card .followMe {
    margin-top: 3px;
    float: right;
}
.slider-section .slide-title span.inner-circle span:nth-child(1) {
    font-size: 300% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(2) {
    font-size: 240% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(3) {
    font-size: 250% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(4) {
    font-size: 250% !important;
}
}
@media screen and (max-width: 720px) {
  .about-section {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #aboutmemenuitem {
    display: none;
  }
.showbox-inner {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
    margin-left: 8%;
}
.showbox-box .block-title, .showbox-box p, .showbox h2 {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
}
}
@media screen and (max-width: 480px) {
  .about-section {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #aboutmemenuitem {
    display: none;
  }
.showbox-box {
    margin-top: 5%;
    margin-left: 100px;
    padding-left: 35px;
}
.showbox-inner {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
    margin-left: 10%;
}
.showbox-box .block-title, .showbox-box p, .showbox h2 {
    transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
}
.section-header h2, .features-section h2, .showbox h2 {
    font-size: 250%;
    text-transform: uppercase;
}
#about #profile {
    animation-delay: 500ms;
    animation-duration: 1000ms;
    position: absolute;
    width: 180px;
    height: 180px;
    top: -60px;
    left: 50%;
    margin-left: -90px;
    z-index: 1;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    padding: 8px;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
}
.gh-profile-card .followMe {
    margin-top: 3px;
    float: right;
}
.slider-section .slide-title span.inner-circle span:nth-child(1) {
    font-size: 300% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(2) {
    font-size: 240% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(3) {
    font-size: 250% !important;
}
.slider-section .slide-title span.inner-circle span:nth-child(4) {
    font-size: 250% !important;
}
}
